# سلام استاد عزیز اینو من عجله ایی خودم (تکی) انجام دادم اگه کمی و کاستی داشت به بزرگی خودتون ببخشید

شاید چون عید بود هماهنگی اینها سخته شاید تا 15 ام یه ورژن گروهی هم فرستادیم ولی از اونجایی که من یکم فراموش کارک گفتم لاقن همین ناقص رو فرستاده باشم
متشکر

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression as lr
from sklearn.feature_selection import f_regression as fr
from sklearn.model_selection import train_test_split as ts
from sklearn.preprocessing import StandardScaler as ss
import seaborn as sns

In [3]:
rawdata=pd.read_csv('housing.csv')

In [4]:
data=rawdata.copy()

In [5]:
data.head()

,id,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

In [6]:
data.describe()

,id,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
count,545.00000,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000,545.000000
mean,272.00000,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.858716,0.177982,0.350459,0.045872,0.315596,0.693578,0.234862,0.465138
std,157.47222,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.348635,0.382849,0.477552,0.209399,0.465180,0.861586,0.424302,0.380686
min,0.00000,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,136.00000,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,272.00000,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000
75%,408.00000,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,544.00000,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000

In [8]:
data.notna().sum()

id                  545
price               545
area                545
bedrooms            545
bathrooms           545
stories             545
stories.1           545
guestroom           545
basement            545
hotwaterheating     545
airconditioning     545
parking             545
prefarea            545
furnishingstatus    545
dtype: int64

In [22]:
y=data['price']

In [9]:
x=data.iloc[:,2:]

In [10]:
x

,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,7420,4,1,2,1,1,1,0,1,2,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,0.0
541,2400,3,1,1,0,0,0,0,0,0,0,0.5
542,3620,2,1,1,1,0,0,0,0,0,0,0.0
543,2910,3,1,1,0,0,0,0,0,0,0,1.0
544,3850,3,1,2,1,0,0,0,0,0,0,0.0

In [14]:
xstandard=ss()

In [15]:
xstandard.fit(x)

StandardScaler()

In [19]:
newx=xstandard.transform(x)

In [18]:
xstandard

StandardScaler()

In [28]:
fr(newx,y)[1].round(3)

array([0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.03, 0.  , 0.  , 0.  ,
       0.  ])

In [29]:
trainx,testx,trainy,testy=ts(x,y,test_size=0.3,random_state=123)

In [30]:
model=lr()

In [31]:
model.fit(trainx,trainy)

LinearRegression()

In [32]:
model.coef_

array([2.83309796e+02, 8.39294402e+04, 1.00516014e+06, 4.09004884e+05,
       3.39270501e+05, 3.76517707e+05, 3.38235356e+05, 4.33404224e+05,
       9.17752274e+05, 2.07782074e+05, 6.77564492e+05, 4.11000102e+05])

In [33]:
model.intercept_

-282628.5263886899

In [119]:
mp=model.predict(testx).round(3)

In [120]:
pdata=pd.DataFrame(testy)

In [134]:
pdata=pdata.reset_index(drop=True)

In [135]:
pdata

        price      predict
0     2310000  2539591.033
1     4410000  3122003.026
2     8080940  7682255.212
3     7455000  4901009.901
4     5565000  5678473.714
..        ...          ...
159   4900000  3557419.722
160  13300000  8153734.375
161   5600000  6608724.772
162   4900000  4790488.707
163   3920000  4693986.638

[164 rows x 2 columns]

In [136]:
pdata['predict']=mp

In [155]:
pdata['predict']=pdata['predict'].astype(int)

In [156]:
pdata

        price  predict
0     2310000  2539600
1     4410000  3122000
2     8080940  7682300
3     7455000  4901000
4     5565000  5678500
..        ...      ...
159   4900000  3557400
160  13300000  8153700
161   5600000  6608700
162   4900000  4790500
163   3920000  4694000

[164 rows x 2 columns]

In [161]:
pdata['Residual'] = pdata['price'] - pdata['predict']

pdata['Percent Error'] = np.absolute(pdata['Residual']/pdata['price']*100)

pdata

        price  predict  Residual  Percent Error
0     2310000  2539600   -229600       9.939394
1     4410000  3122000   1288000      29.206349
2     8080940  7682300    398640       4.933089
3     7455000  4901000   2554000      34.258887
4     5565000  5678500   -113500       2.039533
..        ...      ...       ...            ...
159   4900000  3557400   1342600      27.400000
160  13300000  8153700   5146300      38.693985
161   5600000  6608700  -1008700      18.012500
162   4900000  4790500    109500       2.234694
163   3920000  4694000   -774000      19.744898

[164 rows x 4 columns]